<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>这是一个视图层</title>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script>
  $(document).ready(function() {
    $("#view").html("hello ,{{hello}},my name is {{name}},my sex is {{sex}},and {{ boy }}||"
      + "next ,{{hello}},my name is {{name}},my sex is {{sex}},and -- {{ boy }}"
      );
  });
  </script>
</head>
<body>
	<div id="view"></div>
	<h1>RollerPHP:文件上传拓展</h1>
	<!--url: __Home__/__Controller__/__method__&Parameter[array] &parameter=RollerPHP_2&a=RollerPHP-->
	<form action="__Index__/___index___/____uploadFile____" enctype="multipart/form-data" method="post" name="uploadfile">
	<!-- 上传文件：<input type="file" name="upfile" /><br> -->
	<input type="file" name="textFile" /><br>
	<input type="submit" value="上传" /></form>
</body>
</html>
